{% load static %}
<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8" />
    <meta name="keywords" content="Shipping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<title>Shipping | Shipment Details</title>

    <script> 
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
     <link href="{% static 'shipment/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <!--banner slider  -->
    <link href="{% static 'shipment/css/JiSlider.css' %}" rel="stylesheet">
    <!-- //banner-slider -->
    <link rel="stylesheet" href="{% static 'shipment/css/flexslider.css' %}" type="text/css" media="screen" property="" />
     <link href="{% static 'shipment/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'shipment/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
<section class="w3layouts-header py-2">
        <div class="container">
              <!-- header -->
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">

                    <h1>
                        <a class="navbar-brand" href="/">
                          Shipping 
                            
                        </a>
                    </h1>
                    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center">
                            <li class="nav-item  mr-3">
                                <a class="nav-link" href="{% url 'about' %}">about</a>
                            </li>
                             <li class="nav-item  mr-3">
                                <a class="nav-link" href="{% url 'services' %}">Services</a>
                            </li>

                            {% if user.is_authenticated %}
                            <li class="nav-item mr-3">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            {% else %}
                                
                                 <li class="nav-item dropdown mr-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                                     <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                                    
                                   
                               
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item mr-3">
                                <a class="nav-link" href="{% url 'contact' %}">contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'search' %}">TRACK SHIPMENT</a>
                            </li>
                        </ul>
                    </div>

                </nav>
        </header>
        <!-- //header -->

        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mt-4 text-center">
                <h3>Search Result</h3>
                <hr>
                <p><strong>Incase you dont see any results, it is either the tracking number is wrong or doesnt exist</strong></p>
                <br>
                <h6>The Tracking Number You searched for is {{searched}}</h6>
                <hr>
            </div>
            <div class="col-2"></div>
        </div>
        <div class=row>
            <div class="col-6">
            <div class="card my-3 post-box">
            <div class="card-body">
                {% if searched %}

                    <h5>Shipment Details</h5>
                    <hr>
    
                     <h6>Tracking Number: {{searched}}</h6>
                     <p>Shipment Title: <strong>Seventh Generation Intel Chips</strong></p>
                     <p>Shipment Quantity: <strong>United States of America</strong></p>
                     <p>Shipment Description: <strong>These are high-tech intel gaming functionality enhancement chips</strong></p>
                    <p>Shipment Quantity: <strong>300000 Pieces, 250 Boxes</strong></p>
                    <p>Shipping Method: <strong>Air Transport, Kenya Airways</strong></p>
                    <p>Shipment Status: <strong>On Transit</strong></p>
                    <p>Arrival Date: <strong>July 1st 2021</strong></p>


                {% else %}
                    <h4>Enter a tracking number please!!!!</h4>

                {% endif %}
        </div>
        </div></div>
            <div class="col-6">
                <div class="card my-3 post-box">
            <div class="card-body">
                {% if searched %}

                    <h5>Receiver's Details</h5>
                    <hr>
    
                   
                     <h6>Shipment Recepient: Naicom Technologies LTD</h6>
                     <p>Phone Number: <strong>+25478867689</strong></p>
                     <p>Email Address: <strong>naicom@gmail.com</strong></p>
                     <p>Postal Code: <strong>1500</strong></p>
                     <p>Zip Code: <strong>90119</strong></p>
                     <p>City: <strong>Nairobi</strong></p>
                     <p>Country: <strong>Republic of Kenya</strong></p>
                     <p>Pickup Station: <strong>Kayole Naivas Mall, Kayole-Nairobi</strong></p>


                {% else %}
                    <h4>Enter a tracking number please!!!!</h4>

                {% endif %}
        </div>
        </div>
            </div>
        

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
    <script  src="{% static 'shipment/js/SmoothScroll.min.js' %}"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="{% static 'shipment/js/bootstrap.js' %}"></script>
     <script src="{% static 'shipment/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'shipment/js/jquery.countup.js' %}"></script>
</body>
</html>