{% extends "base.html" %}

{% block title %}
  {{ post.title}}
{% endblock title %}

{% block content %}
  <h1>{{ post.title }}</h1>
<small>By {{ post.author }} -  Posted On: {{ post.post_date }} Category : <a href="{% url 'category' post.category %}">{{ post.category | slugify }}</a></small><br>
<hr>
<p>{{ post.body | safe}}</p>

<br>

{% if user.is_authenticated %}

  {% if user.id == post.author.id %}
      <a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Update Post</a>
    <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
{% endif %}

<br><br>
<hr>
{% if user.is_authenticated %}
<form action="{% url 'like_post' post.pk %}" method="POST">
  {% csrf_token %}

  {% if liked %}
    <button type="submit", name="post_id", value="{{ post.id }}" class="btn-sm btn-danger">Unlike</button>
  {% else %}
    <button type="submit", name="post_id", value="{{ post.id }}" class="btn-sm btn-primary">Like</button>
    {% endif %}
  {% else %}
  <a href="{% url 'login' %}" class="btn-sm btn-warning">Login To Like</a>
  <a href="{% url 'register' %}" class="btn-sm btn-secondary">Register</a>
{% endif %}
<a href="{% url 'home' %}" class="btn-sm btn-secondary">Back</a>
{{ total_likes }} - Likes
<hr>
</form>

{% endblock content %}
