{% extends "base.html" %}

{% block title %}
  Update Blog Post
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class="form-group">
    <form action="" method="post">
      {% csrf_token %}
       {{ form.as_p}}
       {{ form.media}}
       <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endif %}
  {% else %}
  <h3>You are not allowed to edit a post...goodbye</h3>
{% endif %}
{% endblock content %}

