{% load static %}
<html>
<head>
    <title>Shipping | Login</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
  <meta name="keywords" content="Shipping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script> 
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- //for-mobile-apps -->
   <link href="{% static 'shipment/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
  <!--banner slider  -->
  <link href="{% static 'shipment/css/JiSlider.css' %}" rel="stylesheet">
  <!-- //banner-slider -->
  <link rel="stylesheet" href="{% static 'shipment/css/flexslider.css' %}" type="text/css" media="screen" property="" />
   <link href="{% static 'shipment/css/font-awesome.css" rel="stylesheet">
  <link href="{% static 'shipment/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>  

<body>
    <!-- header -->
  <section class="w3layouts-header py-2">
    <div class="container">
        <!-- header -->
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">

                    <h1>
                        <a class="navbar-brand" href="/">
                          Shipping 
                            
                        </a>
                    </h1>
                    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center">
                            <li class="nav-item  mr-3">
                                <a class="nav-link" href="about.html">about</a>
                            </li>
               <li class="nav-item  mr-3">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>

                            {% if user.is_authenticated %}
                          <li class="nav-item mr-3">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            {% else %}
                              
                                 <li class="nav-item dropdown mr-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                   <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                                    
                                   
                               
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item mr-3">
                                <a class="nav-link" href="contact.html">contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'search' %}">TRACK SHIPMENT</a>
                            </li>
                        </ul>
                    </div>

                </nav>
        </header>
        <!-- //header -->

    </div>
  </section>
  <!-- //header -->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Subheader-->
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
              <!--begin::Container-->
              <div class="container">
                <div class="row">
                                    <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example example-compact">
                      
                      <!--begin::Form-->
                      <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                          <h3 class="font-size-lg text-dark text-center font-weight-bold mb-6">Login</h3>
                          <hr>
                          <div class="mb-15">
                            <div class="form-group row">
                              <label class="col-lg-3 col-form-label">Username:</label>
                              <div class="col-lg-6">
                                <input type="text" name="username" class="form-control" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-lg-3 col-form-label">Password:</label>
                              <div class="col-lg-6">
                                <input type="password" name="password" class="form-control" placeholder="Enter Password">
                                </div>
                            </div>                                                                      
                                            </div>
                        </div>
                        <div class="card-footer">
                          <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                              <button type="submit" class="btn btn-primary mr-2">Login</button>
                              <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </form>
                      <!--end::Form-->
                    </div>
                    <!--end::Card-->
                    
                  </div>


                </div>
              </div>
              <!--end::Container-->
            </div>
            <!--end::Entry-->
          </div>  

</body>

</html>

